name: "workflow-sample"

on: 
 push:
  branches:
   - master
   
jobs:
 code_deploy_automation:
  name: Code Deploy Automation
  runs-on: ubuntu-latest   
  steps: 
   - name: "Print hello world"   
     run: echo "Hello world"  
   - name: "Print current date"
     run: date      
  
  